nav{
  background-image: linear-gradient(
    90deg,
    rgba(139, 29, 130, 1) 10%,
    rgba(207, 2, 43, 1) 60%,
    rgba(240, 125, 0, 1) 100%
  );
  color: white;
  
}
a{
  color:white;
  text-decoration: none;
}
a:hover{
 border-bottom: 2px solid white;
 color:white;
 cursor: pointer;
}
a.active {
  border-bottom: 2px solid white;
  color:white;
}
span{
  width: 10%;
  margin-left: 20px;
  margin-top: 2px;
  font-size: 20px;
}

  